<div>
    <div class="d-flex align-items-top">
        <div [chart]="pieChart"></div>
        <div [chart]="barChart"></div>
        <div [chart]="wsChart"></div>

    </div>
    <div>
        <button (click)="buttonclick()"></button>
    </div>
    <div class="card-group">
        <div class="card border-light" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card border-light" style="max-width: 18rem;">
            <div class="card-header">
                <img src="../../assets/images/temperature-thermometer.svg" width="25px" height="25px"> Temperature
            </div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>